.Useronline {
    background-color:rgba(248, 248, 248);
    width: 15rem;
    border-radius:  0.9375rem;
    border: 1px solid;
    border-color: rgba(248, 248, 248);
    
}
.Seemore {
    margin-left: 6rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    
}
