* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Nav-content{
    display: flex;
    background-color: #46469C;
    width: 100%;
    height: 100px;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    
}

.Nav-ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}
.Nav-ul li {
    background-color: #46469C;
    padding: 10px 10px 10px 10px;
    border-radius: 1.5rem;
    margin-left:3rem;
    color: white;
    list-style: none;
    font-size: 1.2rem;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;

}

.Nav-ul li:hover{
    background-color: #fab869;
    color: rgb(0, 0, 0);
}



.login-name :hover {
    cursor: pointer;
    color: white;
    background-color: #fab869;
}

.Nav-content1 img {
    margin: 1.2rem auto;
    width: 6rem;
    height: auto;
}


.Nav-content .logo {
    padding-left:25px;
}


.logo img:hover {
    transition: 0.5s;
    transform: scale(1.1);
}

.login-name {
    
    padding-right: 25px;
    
}
.login-name a {
    font-weight: 600
}
.login-name i {
    font-size: 15px;
    margin-right: 5px;
}

.login-name button {
    border-radius: 10px;
    justify-content: center;
    text-align: center;
    width: 6rem;
    height: 3rem;
    padding: 10px 10px 10px 10px;
    background-color: #F2A950;
    margin-right: 5px;
}

.toggle-bar i{
    font-size: 30px;
    color: #ffffff;
    margin-right: 30px;
    cursor: pointer;
}

.tab-mobile{
    width:50%;
    height: 500px;
    background-color: #46469C;
    position: absolute;
    right: -100%;
    top:80px;
    transition: 300ms
}

.tab-mobile.active {
    width:50%;
    height: 500px;
    background-color: #46469C;
    position: absolute;
    right: 0;
    top:80px;
    transition: 800ms;
    border-radius: 20px;
    
}

.container-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.mobile-login-name {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 20px;
}
.mobile-login-name button {
    border-radius: 10px;
    justify-content: center;
    text-align: center;
    width: 8em;
    height: 3rem;
    padding: 10px 10px 10px 10px;
    background-color: #F2A950;
    margin-bottom: 10px;
    font-size: 1rem;
    font-weight: 600;
}
.mobile-login-name i {
   margin-right: 10px;
}
.mobile-login-name :hover {
    cursor: pointer;
    color: white;
    background-color: #fab869;
}
.mobile-nav-ul li {
    background-color: #46469C;
    padding: 10px 10px 10px 10px;
    border-radius: 1.5rem;
    margin-top: 20px;
    color: white;
    list-style: none;
    font-size: 1.2rem;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
 
}
.mobile-nav-ul li:hover {
    background-color: #fab869;
    color: rgb(0, 0, 0);
}

.Nav-content.hide{

    display: none;
    
}


/* ==================== MEDIA QUERY ================== */
@media screen  and (min-width: 987px){
    .nav-mobile{
        display: none;
    }
}

@media screen and (max-width :987px) {
    .ul,.login-name {
        display: none;
    }
}

