.Navbar  {
    background-color: rgba(70, 70, 156,1);
    height: 150px;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Navbar nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


.Navbar nav ul li {
    display: inline-block;
    margin: 100px;
}

.Navbar nav ul li a {
    text-decoration: none;
    color: white;
}

