.SideBar {
    background-color: rgba(248, 248, 248);
    padding: 0.25rem;
    border-radius:  0.9375rem;
    width: 1.25rem;
    align-items: center;
    z-index: 2;
    margin-right: 2.5rem;
}

.SideBar .Runingicon {
    height: 4.375rem;
    
}

.SideBar .Joggingicon {
    height: 4.375rem;
}

.SideBar .Swimmingicon {
    height: 4.375rem;
}

.SideBar .Yogaicon {
    height: 4.375rem;
}

.SideBar .Aerobicicon {
    height: 4.375rem;
}

.SideBar .Strengthtrainningicon {
    height: 4.375rem;
}

.SideBar .Danceicon {
    height: 4.375rem;
}

.SideBar .Addposticon {
    height: 4.375rem;
}