.SideBar {
    background-color: rgba(248, 248, 248);
    border-radius:  0.9375rem;
    width: 15rem;
    align-items: center;
    z-index: 2;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.btn {
    color: white;
    background-color: rgb(255, 168, 17);
    cursor: pointer;
    width: 70%;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    border: none;
    border-radius: 3rem;
    font-size: 1rem;
    font-weight: bold;
}

.btn:hover {
    transform: scale(1.1);
}

.SideBar .Runingicon {
    position: relative;
    
}

.SideBar .Joggingicon {
 
    position: relative;
}

.SideBar .Swimmingicon {

    position: relative;
}

.SideBar .Yogaicon {
   
    position: relative;
}

.SideBar .Aerobicicon {
    
    position: relative;
}

.SideBar .Strengthtrainningicon {
    
    position: relative;
}

.SideBar .Othersicon {
    position: relative;
}

.SideBar .Addposticon {
    position: relative;
    
}