.MainPage {
    padding:0; 
    margin:0;
    box-sizing: border-box; 
}

.main-session {
    display: flex;
    margin-top: .2rem;
    column-gap: 5rem;
}

.main {
    flex-grow: 1;
}

.useronline {
    margin-top: 1.3rem;
       
}

.useronline-date {
    display:flex;
    flex-direction: column;
}

.DatePicker {
    margin-top: 1rem;
    width: 14.5rem;
}



/* ==================== MEDIA QUERY ================== */
@media screen  and (max-width: 987px) {
    .useronline-date {
        display: none;
    }
    .box {
        margin-right: 4rem;
    }
}

/* ==================== MEDIA QUERY ================== */
@media screen and (max-width :884px) {
    .useronline-date {
        display: none;
    }
}

/* ==================== MEDIA QUERY ================== */
@media screen and (max-width :768px) {
    .useronline-date {
        display: none;
    }
}

@media screen and (max-width :640px) {
    .useronline-date {
        display: none;
    }
    .App-sidebar {
        display: none;
    }
}

