.ProfilePage {
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Inter'; 
}
.user-profile {
    position: fixed;
    background-color: #F2A950;
    width: 20%;
    padding-top:170px;
    min-height: 100vh
    
}

.my-activity {
    position: relative;
    left: 20%;
    background-color: wheat;
    width: 80%
    /* min-height: 100vh; */
   
    
    
}
.box-profile-page {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    
   
}
.profile-picture{
    display: flex;
    justify-content: center;
    /* margin-top: 100px; */
}
.profile-picture img{
    border-radius: 50%;
    width:45%;
    height: 70%; 
 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
    border: 4px solid rgb(231, 229, 229);
    background-color: white;
    
}
.profile-detail {
    display: flex;
    flex-direction: column;
    
    font-size: 18px;
    padding-top: 50px;
    padding-left: 20%;
    
    
    
}
.profile-detail h2 {
    padding-bottom: 30px;
    font-size: clamp(0.7em,2.5vw,1.2em);
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 4px #a8a8a8;
    
}
.profile-detail span {
    color: white;
    font-weight:300;
    text-shadow: 2px 2px 4px #a8a8a8;
    
}
.navbar {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: auto
}
@media only screen and (max-width: 640px){
    .my-activity{
        left: 0%;
        width: 100%;
    }
}