* {
    padding:0; 
    margin:0;
    box-sizing: border-box; 
}

.main-session {
    display: flex;
    margin-top: 100px;
    
}
/* .App-sidebar {
    margin-top: 30%;
}

.feed {
    margin-top: 40%;
} */