* {
    padding:0; 
    margin:0;
    box-sizing: border-box; 
    
}

.main-session {
    display: flex;
    margin-top: .2rem;
    
}

.App-sidebar {
    margin-right: 15rem;
}

.main {
    flex-grow: 1;
}

.useronline {
    margin-left: 5rem;
    margin-top: 1.3rem;
    
}